.titulo-pagina{
    text-align: center;
}

.favorito{
    display: flex;
    width: 600px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.favorito .btn-excluir{
    margin-left: 5px;
}