.filme-detalhes{
    width: 700px;
    margin: auto;
    padding-bottom: 20px;
}

.container-capa-detalhe{
    height: 300px;
    overflow: hidden;
    border-radius: 15px;
}

.capa-filme-detalhe{
    object-fit: cover;
    object-position: top;
}

#btn-salvar, #btn-trailer{
    border-radius: 5px;
}

#btn-salvar{
    margin-right: 10px;
}

.txt-loading{
    text-align: center;
}