body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img{
  max-width: 100%;
}

h1{
  font-size: 1.3em;
}

h2{
  font-size: 1.1em;
}

h3{
  font-size: 1em;
}

.btn{
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.6s;
  cursor: pointer;
  text-decoration: none;
}

.btn-cinza{
  background-color: rgb(165, 163, 163);
  color: black;
}

.btn-cinza:hover{
  background-color: rgb(201, 194, 194);
}

.btn-vermelho{
  background-color: rgb(179, 11, 11);
  color: white;
}

.btn-vermelho:hover{
  background-color: rgb(247, 54, 54);
}

/*Header*/
.header-principal{
  background-color: rgb(179, 11, 11);
  padding: 20px 300px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.titulo-site{
  color: white;
  font-size: 1.3em;
  text-decoration: none;
}

.btn-favoritos{
  color: black;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.6s;
  text-decoration: none;
}

.btn-favoritos:hover{
  background-color: rgb(165, 163, 163);
}
